/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
/* 
ExtraLight 200
Regular 400
SemiBold 600
Bold 700 
*/

:root {
    --azul : #09374B;
    --azul-claro : #0B455E;
    --orange : #F7941D;
}

.texto-azul{
    color: var(--azul-claro) !important;
}
.texto-orange{
    color: var(--orange) !important;
}
.titulo-blanco{
    font-weight: 700 !important;
}
.titulo-azul{
    color: var(--azul-claro);
    font-weight: 700 !important;
}
.titulo-orange{
    color: var(--orange);
    font-weight: 700 !important;
}
.texto-orange-semibold{
    color: var(--orange);
    font-weight: 600 !important;
}
.texto-azul-extralight{
    color: var(--azul-claro);
    font-weight: 200 !important;
}
.texto-blanco-extralight{
    font-weight: 200 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 6.7vh;
    width: 100%;
    text-align: center;
}

body{
    font-size: 100% !important;
}

header {
    height: 15vh;
    width: 100%;
    /* background-color: var(--azul); */
    display: flex;
    align-items: center;
}

header > .img{
    /* background-color: red; */
    width: 40vw;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    padding: 0rem 0rem 0rem 7rem ;
}

.img > img{
    max-width: 100%;
    max-height: 100%;
    /* background-color: blue; */
}

nav {
    /* background-color: green; */
    width: 60vw;
    display: flex; 
    justify-content: space-around;
}

nav > .boton{
    background-color: rgba(255, 255, 255, 0); 
    color: var(--azul-claro) !important;
    padding: .5rem 1rem;
    font-weight: 600 !important;
    border: none;
    text-decoration: none;
    font-size: 2vw;}

.boton-orange:hover{
    text-decoration: none;
    color: white !important;
    transition: 0.3s;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.671); */
    padding: .5rem 1rem;
    border-radius: 40px;
    background-color: var(--orange);
    box-shadow: .5px .5px .5px rgba(128, 128, 128, 0.61);
}

nav > .boton-orange{
    font-size: 2vw;
}

.boton-orange{
    border-radius: 2.5rem;
    background-color: rgba(255, 255, 255, 0); 
    color: var(--orange) !important;
    padding: .5rem 1rem;
    border: .15rem solid var(--orange);
    font-weight: 600 !important;
    text-decoration: none;
}

main {
    min-height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Seccion Inicio */

.inicio{
    height: 85vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.inicio > h1{
    font-size: 3.7vw  !important;
}

.logo-grande{
    width: 100%;
}

.logo-grande > img {
    width: 55vw;
    height: auto;
}

/* Seccion Presentacion  */

.presentacion {
    background-color: var(--azul);
    text-align: center;
    padding-top: 4rem;
    /* padding: 4rem 0rem; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}


.presentacion > p{
    max-width: 80%;
    font-size: 3.3vh;
}

/* Seccion Skills */

.container {
    width: 75% !important;
    height: 80vh;
    border-radius: 15px;
    background-color: white;
    padding: 2rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -7rem;
}

.container-areas {
    display: flex;
    justify-content: space-around;
    margin-top: -7rem;
}


.icono > img{
    width: auto;
    height: 9vh;
}

.icono {
    background-color: var(--orange);
    border: 1.2rem solid var(--orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area{
    /* background-color: red; */
    padding: .5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

h3 {
    font-size: 4vh;
}

p{
    font-size: 2.5vh;
}

/* Sección Proyectos */

.proyectos {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    gap: 2rem;
    padding: 2.5rem 0rem;
}


/* 
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    padding: 1rem 0rem;
}


.card{
    background-color: var(--azul);
    border-radius: 15px;
    padding-bottom: 1.5rem;
    min-height: 55vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 1rem;
}

.card > a{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.screen {
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0rem 0rem;
}

.card-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0rem 1rem;
    gap: .5rem;
    height: 40%;
}

*/

.tarjeta {
    width: 100%;
    margin: 0 auto;
    padding: 0rem 3rem;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
}
.card-item {
    background-color: var(--azul);
    border-radius: 1rem;
    padding-bottom: 1.5rem;
    flex-basis: 20rem;
    max-width: 26rem;
    min-height: 65vh;
    flex-grow: 1;
}

.card-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-picture {
    width: 100%;
    margin: 0 auto;
}

.card-picture > img {
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;

}

.card-texts {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem 1rem 1rem;
    gap: .5rem;
    padding-bottom: 1rem;
    /* 
    justify-content: flex-start;
    min-height: 40%; 
    */
}

.card-paragraph {
    text-align: center;
}

.card-botones {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

/*
.card-botones > .boton-orange{
    font-size: 1.5vw;
} 
*/

/* Sección Estudios */

.estudios {
    background-color: var(--azul);
    min-height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    gap: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 10rem;
    /* padding: 2.5rem 0rem; */
}

.card-outline{
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0); 
    padding: 1rem 2.5rem;
    border: 2px solid var(--orange);
    flex-basis: 30rem;
    max-width: 33rem;
    min-height: 35vh;
    flex-grow: 1;
}

/* Seccion Contacto */

.contacto{
    width: 75% !important;
    min-height: 65vh;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;
    gap: 3.5rem;
    padding: 2.5rem 0rem;
    margin-top: -7rem;
}

.img-contacto {
    width: 20%;
    display: flex;
    justify-content: center;
}

.img-contacto > img{
    width: 23rem;
    height: auto;
}

.iconos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.icono-contacto > img{
    height: 3.5rem;
    padding: .25rem;
}

.icono-contacto {
    background-color: var(--azul);
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    min-height: 5vh;
    width: 100%;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

